@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: "Inter", sans-serif;
    }

    *:focus {
        outline: 0;
    }
}

@layer components {
    .btn {
        @apply py-2 md:py-3 px-4 rounded-xl !relative space-x-2 inline-flex justify-center transition-all duration-150 font-medium gap-1 items-center active:scale-95
    }

    .btn-primary {
        @apply bg-primary rounded-lg overflow-hidden text-white ring-2 ring-primary shadow-lg shadow-primary-200  hover:shadow-none
    }

    
    

    .btn-light {
        @apply bg-gray-100 overflow-hidden rounded-lg font-semibold text-muted ring-2 ring-gray-200 shadow-lg shadow-gray-200  hover:shadow-none
    }

    .btn-light::before {
        content: '';
        @apply bg-gray-500 absolute bottom-0 left-0 right-0 top-[50%] bg-opacity-10
    }

    .btn-primary::before {
        content: '';
        @apply bg-white absolute top-0 left-0 right-0 bottom-[50%] bg-opacity-10
    }

    .btn-purple {
        @apply bg-[#7a2bd0] overflow-hidden text-white ring-2 ring-[#7a2bd0] shadow-lg shadow-purple-200 hover:shadow-none
    }

    .btn-blue {
        @apply bg-[#1478ee] overflow-hidden text-white ring-2 ring-[#1478ee] shadow-lg shadow-blue-200 hover:shadow-none
    }

    .btn-green {
        @apply bg-[#079e55] overflow-hidden text-white ring-2 ring-[#079e55] shadow-lg shadow-green-200 hover:shadow-none
    }

    .btn-purple::before,
    .btn-blue::before,
    .btn-green::before {
        content: '';
        @apply bg-white absolute top-0 left-0 right-0 bottom-[50%] bg-opacity-10
    }

    .btn-secondary {
        @apply bg-secondary overflow-hidden text-white ring-2 ring-secondary shadow-lg shadow-secondary  hover:shadow-none
    }

    .btn-secondary::before {
        content: '';
        @apply bg-white absolute top-0 left-0 right-0 bottom-[50%] bg-opacity-10
    }

    .btn-white {
        @apply bg-white text-black
    }

    .btn-square {
        @apply shrink-0
    }

    .form-control{
        @apply shadow-sm w-full rounded-lg focus:border-0 border-gray-200 focus:ring-1 focus:ring-primary;
    }

    .form-label{
        @apply leading-loose font-medium text-sm md:text-base
    }

    .card {
        @apply shadow md:p-5 p-4 rounded-xl border border-gray-200 shadow-gray-100
    }
}

.grecaptcha-badge {
    display: none !important;
}
