@font-face {
    font-family: "Aeonik";
    src: url('../fonts/aeonik/AeonikTRIAL-Regular.otf');
}

@font-face {
    font-family: "Aeonik";
    src: url('../fonts/aeonik/AeonikTRIAL-RegularItalic.otf');
    font-style: italic;
}

@font-face {
    font-family: "Aeonik";
    src: url('../fonts/aeonik/AeonikTRIAL-Bold.otf');
    font-weight: 700;
}

@font-face {
    font-family: "Aeonik";
    src: url('../fonts/aeonik/AeonikTRIAL-BoldItalic.otf');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "Aeonik";
    src: url('../fonts/aeonik/AeonikTRIAL-Light.otf');
    font-weight: 100, 300, 200;
    font-style: italic;
}

@font-face {
    font-family: "Aeonik";
    src: url('../fonts/aeonik/AeonikTRIAL-LightItalic.otf');
    font-weight: 100, 300, 200;
    font-style: italic;
}